/* EVENT VIEW AREA*/
        
.eventViewer{
    font-family: 'Karla', sans-serif;

    margin-left: auto;
    margin-right: auto;
    width: 60%;
    
    padding: 0px;
    font-size: 65%;
    
    background-color: #EEEDEA;
    border-radius: 5px;
    word-wrap: break-word;
    
    /*
    border-style: solid;
    border-width: 1px;
    */
    
    box-shadow: 20px 5px 5px #2B2B2B;
    }
    
    .eventSingle{
        padding: 10px;
        
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 100px;

        border: 1px groove black;
        border-color: #D2D2D2;
        border-width: 1px;
        border-bottom: none;

        background-color: #F8F8F8;  
        border-radius: 5px;
        /*overflow: auto;*/
        }
            
/* 
* eventTitle
        */
.eventTitle {
    font-size: 140%;
    font-style: bold;
    }
    
    .eventTitleSingle {
    	 font-size: 160%;
    	font-style: bold;
    	color:#e01847;
    }

    

/*** # CONTAINERS ***/

/* 1st
 * imgContainer */

.eventImgContainer {
    position: relative;
    display: inline-block;
    
    float: left;
    width: 100px;
    height: 100px;
    }
        
        .thumbImg {
            width: 100px;
            height: 100px;
            }


.eventInfoContainer {
    display: inline-block;
    position: relative;
    float: left;
    padding-left: 10px;
    
    width: 70%;
    text-align: left;
    }
        .space { 
            line-height: 200%; 
            }

.eventEditBtnContainer {
    display: inline-block;
    position: relative;
    
    float: right;
    }

.eventBtnContainer {
    display: inline-block;
    position: relative;
    
    float: right;
    }
        .btnShowMap {
            
            }
        


/*** SINGLE EVENT ***/

#singleEventWrapperWrapper {
	display: none;
    position: fixed;
    top: 15%;
    height: 350px;
    width: 950px;
    
    left: 49%;
    margin-left: -450px;
    
    z-index: 500;
    /*overflow:auto;*/
   overflow-x:visible;
    overflow-y: visible;
    
    
    
    
    background-color: #fdf8f8;  
    border: 10px solid black;
    
    
   font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    color:#686868;
    font-size: 130%;
}

.backgroundTextLowOP {
    	opacity: 0.2;
    	font-size: 100%;
    	font-style: italic;
    	position: absolute;
    	left: 2%;
    	top: 2%;
    }
    
 	.inline {
 		position: relative;

 	}
 	
 	.inline a {
 		position: absolute;
 		top: 20px;
 		font-size: 130%;
 	}

#singleEventWrapper {
	/*
    display: none;
    position: fixed;
    top: 20%;
    left: 2%;
    height: 70%;
    width: 65%;
    
    z-index: 50;
    */
    
    
    background-color: #fdf8f8;  
    border-radius: 5px;
    
    font-size: 60%;
    }
    
    

/*
    .closer {
        position: relative;
        display: inline-block;
        
        margin-right: 2px;
        float: right;
        }
        */
     
     .triangle {
     	position:fixed;
     	margin-top:0px;
     	margin-left: 390px;
     	width:150px;
     	height:70px;
     	/*border: 1px solid red; */
     	background: url('../images/triangle.png');
     	background-position: center;
     	background-repeat: no-repeat;
     }
     
     
     .hidden {
     	display: none;
     }
     
     
     #leftBox {
     	position: fixed;
     	width: 460px;
     	height: 399px;
     	margin-left:0px;
     /*	border: 1px red solid; */
     	
     }
     
     		.lb-text {
     			margin-top:0px;
     			
     			
     			font-size: 24pt;
     		}
     		
     		.lb-buttons {
     			margin-left:35px;
     			margin-top:15px;
     			width: 350px;
     			/*border: 1px red solid; */
     		}
     		
     		.lb-map {
     			position:relative;
     			float:right;
     		}
     
     #rightBox {
     	position: fixed;
     	width: 490px;
     	height: 400px;
     	margin-left: 460px;
     	/*border: 1px blue solid; */
     }
     
     
     
        
    .singleEventContent {
        position:fixed;
       
        }

    .singleEventImage {
       position: fixed;
       top: 21%;
       right: 16%;
        
        padding: 1px;
        
        height:auto;
        width:auto;
        
        
        }
        
    .singleEventText {
        
        margin-top: 30px;
        margin-left: 10px;
        
        width: 50%;
        padding: 0px;
        
        text-align: left;
        }
        
    .singleEventButtons {
        position:fixed;
        margin-left:250px;
        margin-top:-70px;
        }
        
    .singleEventDescription {
        margin-top:-45px;
        text-align: left;
        padding: 0px;
        width: 470px;
       /* border: 1px red solid; */
      font-size: 10pt;
      line-height: 15px;
        }

        .lrgImage {
        	margin-right:40px;
            width: 125px;
            height: 125px;
            }

        .tempBtn {
            color: white;
            background-color: black;
            }


/****   Event Messages    ****/

    #eventCommentWrapper {
		position: fixed;
		
		top:50px;
		right:50px;
        overflow: auto;
        background-color: #EEEDEA;
        border-radius: 5px;
        
        font-size: 80%;
        }

        .eventComment {
            background-color: #F8F8F8;
            
            margin-left: auto;
            margin-right: auto;
            width: 95%;

            border: 1px groove black;
            border-color: #D2D2D2;
            border-width: 1px;
            border-bottom: none;    
            
            border-radius: 5px;
            overflow: auto;
            }

        .eventCommentText {
            text-align: left;
        } 
       



/**** EVENT ANALYTICS ***********/

    #pageviewMapWrapper {
        display: none;
        position: fixed;
        top: 10%;
        left: 10%;
        height: 80%;
        width: 80%;
        
        z-index: 500;
        overflow: auto;
        background-color: #F8F8F8;  
        border-radius: 5px;
        
        font-size: 70%;
        }
        
        #pageviewMap {
            width: 100%;
            height: 90%;
            }

