
/* Main css file. Should ONLY put tag attributes here (e.g. body, a, p) */
	/*
	 * 
	 * FYI: INDENT LEVELS SHOULD REFLECT ORDER OF INHERTANCE cool? 
	 *
	 */ 
/* * { margin: 0; padding: 0;} the * applys to everything within the document,we could use this instead*/
html, body
	{
	margin: 0;
    padding: 0;
				/* Super important (just fucking finally figured this out)
				 *
				 *  NOTE: THERE ARE BODY MARGINS THAT ALL BROWSERS ADD BY DEFAULT!!!
				 *  WE HAVE TO REMOVE THESE TO GET A NORMAL LOOKING HEADER AND FOOTER 
				* 
				* */
				
	font-family: helvetica, verdana, arial, sans-serif;
	text-align: center;
	background-color: white;
	color: black;
	font-size: 20px;
	position: relative;
    height: 100%;
    width: 100%;
	}
	
	a {
		text-decoration:none;
		color: white;
		}
		a:link {text-decoration:none;}
		a:visited {text-decoration:none;}
		a:hover {
			text-decoration:none;
			color: black;
			}
		a:active {text-decoration:none;}
	
	#dimmer{
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		background-color: black;
		opacity: 0.5;
		/* All popups are 100 */
		z-index: 50;
		}
	
	
	/*** ALL HEADER STUFF ****/
        #advancedButton {
			top: 2px;
			right: 2px;

			position: absolute;
			z-index: 3;
				/* because no image for this yet exists I have given it a BG color */
			}
			
        .login_msg {
			font-family: helvetica, verdana, arial, sans-serif;
			color: red;
			font-size: 90%;
			position: absolute;
			top: 7px;
		    right: 10%;
			text-align: center;
			}  
		
		#logo
			{
			font-family: 'Quicksand', sans-serif;
			font-size: 400%;
			text-align: center;
			}
			#infin
				{
				font-size: 120%;
				}
				           
	#header {
		position: absolute;
		margin: 0;
		padding: 0;
		border: 0;
		width: 100%;
		height: 30px;
		/*background-color: #328AC5; *//*temp.. just so i can see wtf i am doing here #2E2E2E; */
		background-color: black;
		border-bottom-width: 1px;
		border-bottom-style: solid;
		border-bottom-color: black;
		z-index: 3;
			/*text formatting: */
			color: white;
			text-align: left;
			font-family: 'Quicksand', sans-serif;
		}
            #advancedPanel {
				z-index: 75;
                right:0px;
                top: 30px;
                color: black;
                padding: 15px;
                width: 375px;
                height: 90px;
                border-width: 0px;
                border-color: black;
                border-style: solid;
                
                position: absolute;
                background-color: whitesmoke;
                display: none;
                
                border-radius: 10px;
                }
		/* Begin login field attributes -Note: These are all under header inheritance!*/
		#login-field
			{
			position: absolute;
            top:2px;
			right: 4%;
			font-size: 14px;
			}
			
		#loginNotes{
			color: red;
			}
			.login-button
				{
				font-size: 150%;
				font-style: italic;
				color: #1E1F3F;
				background-color: #CBCCED;
				border-radius: 5px;
				}
				.login-button:hover
					{
					color: red;
					}
                #signupPanel {
					 width: 70%;
					 height: 70%;
					 right:0px;
					 top: 120px;

					 color: black;
	                padding: 15px;
	                width: 375px;
	                height: 180px;
	                border-width: 0px;
	                border-color: black;
	                border-style: solid;
	                
	                position: absolute;
	                background-color: whitesmoke;
	                z-index: 80;
	                display: none;
	                
	                border-radius: 10px;
					}
	   
        
        #submit-signup{
			
			
			}
		#signup-errors {
			text-align: center;
			color: red;
			}
        
    /* FLOATING WINDOW */  
		#signUpWindow {
			z-index: 100;
			width: 200px;
			height: 200px;
			position: absolute;
			top: 100px;
			left: 40%;
			
			color: black;
			background-color: #E9E9F3;
			border-radius: 10px;
			}
			
			
	/***	TOP NAV BAR	***/		
			
		.headerNav {
			position: absolute;
			top: -10px;
			/*
			 * left: 350px;
			 */
			margin-left: 17%;
			
			height: 30px;
			font-family: helvetica, verdana, arial, sans-serif;
			color: white;
			background-color: black;
			text-align: center;
			font-size: 75%;
			}		
			.headerNav ul li {
				display: inline-block;
				}
			
			.headerNav ul li:hover {
				color: black;
				background-color: white;
				
				}
			
			#latlngLoc{
				position:absolute;
				top: 40px;
				left: 5%;
				z-index:10;
				font-size: 11px;
				color: #9B9B9B;
				}
			
	/** GOOGLE MAPS ***/		
			
	#map_wrapper{
		position: fixed;
		top: 50px;
		left: 100px;
		z-index: 200;
		height: 70%;
		width: 70%;
		background-color: whitesmoke;
		}
		#map_canvas{
			height: 80%;
			width: 100%;
			
			}
			
	/*** GOOGLE MAPS FOR EVENT VIEWER***/
	
	#EventMapWrapper {
		position: fixed;
		top: 50px;
		left: 50px;
		z-index: 200;
		height: 70%;
		width: 60%;
		background-color: whitesmoke;
		
		}
		#EventMapCanvas {
			height: 80%;
			width: 100%;
			}
			
		#EventDirections {
			z-index: 199;
			width: 30%;
			position: fixed;
			top: 50px;
			right: 50px;
			height: 80%;
			background-color: whitesmoke;
			overflow: auto;
			}
			#EventDirectionsDisplay {
				font-size: 75%;
				}


	/* EVENT VIEW AREA*/
		
		.eventViewer{
			margin-left: auto;
                        margin-right: auto;
			width: 70%;
			
<<<<<<< HEAD
			padding: 10px;
			border-width: 1px;
=======
			padding: 5px;
			border-width: 0px;
>>>>>>> 8c229736d4f1e255cd85e993970e6f558f4e21d2
			border-color: black;
			border-style: solid;
			
			background-color: #000000;
			border-radius: 10px;
			word-wrap: break-word;
			}
			.eventSingle{
				margin-left: auto;
                margin-right: auto;
				width: 100%;
				
				border-width: 1px;
				
				background-color: #FFFFFF;	
				border-radius: 0px;
				}
<<<<<<< HEAD
                                
                                .eventSingle h3 {
                                    text-align: center;
                                   
                                }
                                
                                        table.eventSingle tr {
                                        list-style-type: none;
					text-align: left;
                                        padding: 10px;
					/**margin-right: 25%;**/
                                        
                                        font-size: 80%; 
                                        }
                                        table.eventSingle td {
                                            padding-right:10px;
                                            
                                        }
=======
                     
                .eventTitle {
					/* EVENT TITLE CANNOT CONFLICT WITH THE 
					 * BUTTONS. IT WILL GO UNDERNEATH THEM **/
					margin-right: 25%;
					font-style: italic;
					color: #447799;
					}           
					.eventSingleInner h3 {
						text-align: center;  
						}
					.eventSingleInner b {
						font-size: 75%;
						color: #447799;
						}
					
							table.eventSingleInner tr {
							list-style-type: none;
							text-align: left;
							padding: 10px;
							margin-right: 25%;
							margin-top: 0%;
							font-size: 80%; 
							}
							table.eventSingleInner td {
								padding-right:10px;
								
							}
>>>>>>> 8c229736d4f1e255cd85e993970e6f558f4e21d2
				
			/*** ALL CHILDREN OF .eventSingle ***/		
				.deleteBtn {
					position: absolute;
					/*top: 2%;*/
					margin-right: 15%;
					right: 2%;
					z-index: 20;

					/*width: 10%; */
					/*
					font-style: italic;
					color: #1E1F3F;
					background-color: #CBCCED;
					border-radius: 5px;
					*/
					}
					.deleteBtn:hover{
						color: red;
						}
						
				.editBtn {
					position: absolute;
					/*top: 2%;*/
					margin-right: 24%;
					right: 2%;
					z-index: 20;
					/* width: 10%; */
					
					/*
					font-style: italic;
					color: #1E1F3F;
					background-color: #CBCCED;
					border-radius: 5px;
					*/
					}
					.editBtn:hover{
						color: red;
						}
						
						
				.attendingBtn {
					width: 100px;
					/*position: absolute;
					margin-right: 15%;
					margin-top:15%;
					right: 2%;
					z-index: 50;*/
					
					font-size: 75%;
					border-radius: 5px;
					color:white;
					background-color: #699ECA;
					}
					.attendingBtn:hover {
						background-color: #5BCAE8;
						}
						
				.clickFormap{
					color: black;
					}
					.clickForMap:hover {
						color: red;
						}
				
	
	/** POST AN EVENT ***/
	
		#postEventForm-wrapper { 
			z-index: 100;
			width: 80%;
			height: 70%;
			position: fixed;
			top: 30px;
			left: 10%;
			
			color: black;
			background-color: whitesmoke;
			border-radius: 10px;
			}      
        
			#cancelPostEventBtn{
				position: absolute;
				top: 1%;
				right: 1%;
				/*
				font-style: italic;
				color: #1E1F3F;
				background-color: #CBCCED;
				border-radius: 5px;
				*/
				}
				#cancelPostEventBtn:hover {
					color: red;
					}
          
			#postEventForm {
				text-align: left;
				padding: 10px;
				
				}
          
			.btn{
				font-style: italic;
				color: #1E1F3F;
				background-color: #CBCCED;
				border-radius: 5px;
				}
				.btn:hover{
					color: red;
					}
          
			#miniMapCanvas{
				height: 80%;
				width: 50%;
				position: absolute;
				top: 15%;
				left: 45%;
				}
				
			#eventTagsChoices {
				z-index: 300;
				position: fixed;
				top: 50px;
				
				padding: 20px;
				
				height: 60%;
				width: 60%;
				margin-left: 20%;
				background-color: whitesmoke;
				border-style: groove;
				border-width: 1px;
				border-color: black;
			
				overflow: auto;
				}
				
				
        /*** floating window ***/
        #postEventSuccess{
			z-index: 100;
			width: 200px;
			height: 200px;
			position: absolute;
			top: 100px;
			left: 40%;
			
			color: black;
			background-color: #E9E9F3;
			border-radius: 10px;
			
			}  
          
          
          
          

	/*** FOOTER NAV BAR ***/
	
		.footer {
			width: 100%;
			height: 40px;
			border-top-width: 1px;
			border-top-style: solid;
			border-top-color: black;
			
			/*
			z-index: 2;
			position: absolute;
			bottom: 0px;
			margin-top: -30px;
			*/
			/*
			CSS has to be tricked into displaying the footer on the bottom of the page.
			Use margin-top: -heightoffooter;
			*/
			
			color: white;
			background-color: black;
			text-align: center;
			font-size: 75%;
			
			}		
			.footer ul li
				{
				display: inline-block;
				
				}
			
			.footer ul li:hover
				{
				color: black;
				background-color: white;
				
				}
		
/*** BUTTON TEMPLATES ... from: http://www.cssbuttongenerator.com/ ***/
	
	/*** BLUE ***/
		.btnTemplate {
			-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
			-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
			box-shadow:inset 0px 1px 0px 0px #bbdaf7;
			background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
			background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
			background-color:#79bbff;
			-moz-border-radius:1px;
			-webkit-border-radius:1px;
			border-radius:1px;
			display:inline-block;
			color:#ffffff;
			font-family:arial;
			font-size:12px;
			font-weight:bold;
			padding:4px 16px;
			text-decoration:none;
			text-shadow:1px 1px 0px #528ecc;
		}.btnTemplate:hover {
			background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
			background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
			background-color:#378de5;
		}.btnTemplate:active {
			position:relative;
			top:1px;
			}
		
		
	.btnTemplateGreen {
		-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
		-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
		box-shadow:inset 0px 1px 0px 0px #caefab;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
		background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
		background-color:#77d42a;
		-moz-border-radius:1px;
		-webkit-border-radius:1px;
		border-radius:1px;
		display:inline-block;
		color:#306108;
		font-family:arial;
		font-size:12px;
		font-weight:bold;
		padding:4px 16px;
		text-decoration:none;
		text-shadow:1px 1px 0px #aade7c;
	}.btnTemplateGreen:hover {
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
		background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
		background-color:#5cb811;
	}.btnTemplateGreen:active {
		position:relative;
		top:1px;
		}	
		
		
 /* END PRIMARY PAGE ELEMENTS */

	/* IDK WHAT THIS IS:
        #pageContent {
            z-index: 2;
            width: 450px;
            height: 300px;
            background-color: red;
            position: absolute;
            display: none;
            margin-left: auto;
            margin-right: auto;
            margin-top: 15%;
            
        }
        #tips {
            z-index: 3;
            background-color: blue;
            color: white;
            
        }
        * */
        /*styling not finished due to buggy browsers ect ect, need to build it on waanoo.com
          before I finish them off - all sorts of problems with centering in IE and safari EG:
         marign-left: auto, margin-right:auto does not work*/
        
     
    
