
/* Main css file. Should ONLY put tag attributes here (e.g. body, a, p) */
	/*
	 * 
	 * FYI: INDENT LEVELS SHOULD REFLECT ORDER OF INHERTANCE cool? 
	 *
	 */ 
/* * { margin: 0; padding: 0;} the * applys to everything within the document,we could use this instead*/

/*
@font-face {
	font-family: gotham-rounded-med;
	src: url('fonts/GothamRoundedMedium.ttf');
	}
	*/

html, body
	{
	margin: 0;
    padding: 0;
				/* Super important (just fucking finally figured this out)
				 *
				 *  NOTE: THERE ARE BODY MARGINS THAT ALL BROWSERS ADD BY DEFAULT!!!
				 *  WE HAVE TO REMOVE THESE TO GET A NORMAL LOOKING HEADER AND FOOTER 
				* 
				* */
				
	font-family: 'Karla', sans-serif;
	text-align: center;
	background-color: #EEEDEA;
	color: black;
	font-size: 20px;
	position: relative;
    height: 100%;
    width: 100%;
	}
	
	
	a {
		text-decoration:none;
		color: black;
		}
		a:link {text-decoration:none;}
		a:visited {text-decoration:none;}
		a:hover {
			text-decoration:none;
			color: black;
			}
		a:active {text-decoration:none;}
		
	
	#dimmer{
		display: none;
		
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		background-color: black;
		opacity: 0.5;
		/* All popups are 100 */
		z-index: 25;
		}
	
	
	/*** ALL HEADER STUFF ****/
        #advancedButton {
			top: 2px;
			right: 2px;

			position: absolute;
			z-index: 3;
				/* because no image for this yet exists I have given it a BG color */
			}
			
        .login_msg {
			font-family: 'Karla', sans-serif;
			color: red;
			font-size: 90%;
			position: absolute;
			top: 7px;
		    right: 10%;
			text-align: center;
			}  
		
				           
	#header {
		position: absolute;
		margin: 0;
		padding: 0;
		border: 0;
		width: 100%;
		height: 30px;
		/*background-color: #328AC5; *//*temp.. just so i can see wtf i am doing here #2E2E2E; */
		background-color: black;
		border-bottom-width: 1px;
		border-bottom-style: solid;
		border-bottom-color: black;
		z-index: 3;
			/*text formatting: */
			color: white;
			text-align: left;
			font-family: 'Karla', sans-serif;
		}
		
		#logoutWrapper {
			position: relative;
			display: inline-block;
			float: right;
			padding: 5px;
			}
		
		
		#headerLogo {
			position: absolute;
			top: 8px;
			
			}
		
		#loginMainForm {
			position: relative;
			text-align: right;
			}
		
		#signupBtn {
			position: relative;
			float: right;
			text-align: right;
			}
			
		.loginField {
			border-radius: 5px;
			}
			
		.login-button {
				font-size: 100%;
				color: black;
				background-color: #EEEDEA;
				border-radius: 3px;
				}
				.login-button:hover
					{
					color: red;
					}
							
					
					
					
					
            #advancedPanel {
				z-index: 75;
                right:0px;
                top: 30px;
                color: black;
                padding: 15px;
                width: 375px;
                height: 90px;
                border-width: 0px;
                border-color: black;
                border-style: solid;
                
                position: absolute;
                background-color: #F8F8F8;
                display: none;
                
                border-radius: 10px;
                }
                
                
		/* Begin login field attributes -Note: These are all under header inheritance!*/
		
			
		#loginNotes{
			
			position: absolute;
			top: 50px;
			left: 90%;
			color: red;
			}
			
                #signupPanel {
					 width: 70%;
					 height: 70%;
					 right:0px;
					 top: 30px;

					text-align: left;
					 color: black;
	                padding: 15px;
	                width: 375px;
	                height: 200px;
	                border-width: 2px;
	                border-color: #EEEDEA;
	                border-style: solid;
	                
	                position: absolute;
	                background-color: #F8F8F8;
	                z-index: 80;
	                display: none;
	                
	                border-radius: 10px;
					}
	   
        
        #submit-signup{
			
			
			}
		#signup-errors {
			text-align: center;
			color: red;
			}
        
        
        
        
        
        
    /* FLOATING WINDOW */  
		#signUpWindow {
			z-index: 100;
			width: 200px;
			height: 200px;
			position: absolute;
			top: 100px;
			left: 40%;
			
			color: black;
			background-color: #E9E9F3;
			border-radius: 10px;
			}
			
			
	/***	TOP NAV BAR	***/		
			
		.headerNav {
			position: absolute;
			top: -10px;
			/*
			 * left: 350px;
			 */
			margin-left: 17%;
			
			height: 30px;
			font-family: helvetica, verdana, arial, sans-serif;
			color: white;
			background-color: black;
			text-align: center;
			font-size: 75%;
			}		
			.headerNav ul li {
				display: inline-block;
				}
			
			.headerNav ul li:hover {
				color: black;
				background-color: white;
				
				}
			
			#latlngLoc{
				position:absolute;
				top: 40px;
				left: 5%;
				z-index:10;
				font-size: 11px;
				color: #9B9B9B;
				}
			
	/** Change location popup ***/		
			
	#map_wrapper{
		display: none;
		
		position: fixed;
		top: 50px;
		left: 100px;
		z-index: 200;
		height: 70%;
		width: 70%;
		background-color: #F8F8F8;
		
		opacity: .95;
		border-radius: 5px;
		}
		#map_canvas{
			height: 90%;
			width: 100%;
			
			}
			
	/*** GOOGLE MAPS FOR EVENT VIEWER***/
	
	#EventMapWrapper {
		display: none;
		
		position: fixed;
		top: 50px;
		left: 50px;
		z-index: 200;
		height: 70%;
		width: 60%;
		background-color: #F8F8F8;
		
		border-width: 2px;
	    border-color: #EEEDEA;
	    border-style: solid;
		border-radius: 5px;
		}
		#EventMapCanvas {
			height: 80%;
			width: 100%;
			}
			
		#EventDirections {
			display: none;
		
			z-index: 199;
			width: 30%;
			position: fixed;
			top: 50px;
			right: 50px;
			height: 80%;
			background-color: #F8F8F8;
			overflow: auto;
			}
			#EventDirectionsDisplay {
				font-size: 75%;
				}


	
				
	
	/** POST AN EVENT ***/
	
		#postEventForm-wrapper { 
			display: none;
		
			z-index: 100;
			width: 80%;
			height: 70%;
			position: fixed;
			top: 30px;
			left: 10%;
			
			color: black;
			background-color: #F8F8F8;
			border-radius: 10px;
			}      
        
			#cancelPostEventBtn{
				position: absolute;
				top: 1%;
				right: 1%;
				/*
				font-style: italic;
				color: #1E1F3F;
				background-color: #CBCCED;
				border-radius: 5px;
				*/
				}
				#cancelPostEventBtn:hover {
					color: red;
					}
          
			#postEventForm {
				text-align: left;
				padding: 10px;
				
				}
          
			.btn{
				font-style: italic;
				color: #1E1F3F;
				background-color: #CBCCED;
				border-radius: 5px;
				}
				.btn:hover{
					color: red;
					}
          
			#miniMapCanvas{
				height: 80%;
				width: 50%;
				position: absolute;
				top: 15%;
				left: 45%;
				}
				
			#eventTagsChoices {
				z-index: 300;
				position: fixed;
				top: 50px;
				
				padding: 20px;
				
				height: 60%;
				width: 60%;
				margin-left: 20%;
				background-color: #F8F8F8;
				border-style: groove;
				border-width: 1px;
				border-color: black;
			
				overflow: auto;
				}
				
				
        /*** floating window ***/
        #postEventSuccess{
			display: none;
			
			z-index: 100;
			width: 200px;
			height: 200px;
			position: absolute;
			top: 100px;
			left: 40%;
			
			color: black;
			background-color: #E9E9F3;
			border-radius: 10px;
			
			}  
          
          
          
          

	
		
/*** BUTTON TEMPLATES ... from: http://www.cssbuttongenerator.com/ ***/


	/*** BLUE ***/
	/*
		.testBlackBtn {
			-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
			-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
			box-shadow:inset 0px 1px 0px 0px #bbdaf7;
			background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
			background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
			background-color:#79bbff;
			-moz-border-radius:1px;
			-webkit-border-radius:1px;
			border-radius:1px;
			display:inline-block;
			color:#ffffff;
			font-family:arial;
			font-size:12px;
			font-weight:bold;
			padding:4px 16px;
			text-decoration:none;
			text-shadow:1px 1px 0px #528ecc;
		}.testBlackBtn:hover {
			background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
			background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
			background-color:#378de5;
		}.testBlackBtn:active {
			position:relative;
			top:1px;
			}
		
		
	.testBlackBtnGreen {
		-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
		-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
		box-shadow:inset 0px 1px 0px 0px #caefab;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
		background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
		background-color:#77d42a;
		-moz-border-radius:1px;
		-webkit-border-radius:1px;
		border-radius:1px;
		display:inline-block;
		color:#306108;
		font-family:arial;
		font-size:12px;
		font-weight:bold;
		padding:4px 16px;
		text-decoration:none;
		text-shadow:1px 1px 0px #aade7c;
	}.testBlackBtnGreen:hover {
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
		background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
		background-color:#5cb811;
	}.testBlackBtnGreen:active {
		position:relative;
		top:1px;
		}	
*/		
		
		
		
.testBlackBtn {
	-moz-box-shadow:inset 0px 1px 0px 0px #949494;
	-webkit-box-shadow:inset 0px 1px 0px 0px #949494;
	box-shadow:inset 0px 1px 0px 0px #949494;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #424242), color-stop(1, #000000) );
	background:-moz-linear-gradient( center top, #424242 5%, #000000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#424242', endColorstr='#000000');
	background-color:#424242;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid #141414;
	display:inline-block;
	color:#ffffff;
	font-family:'Karla', sans-serif;
	font-size:12px;
	font-weight:bold;
	padding:3px 9px;
	text-decoration:none;
	text-shadow:1px 1px 0px #000000;
}.testBlackBtn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #000000), color-stop(1, #424242) );
	background:-moz-linear-gradient( center top, #000000 5%, #424242 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#424242');
	background-color:#000000;
	color: white;
}.testBlackBtn:active {
	position:relative;
	top:1px;
}

		


/************* FOOTER ****************/	
		
	.footer a {
		text-decoration:none;
		color: white;
		}	
		.footer a:hover {
			text-decoration:none;
			color: black;
			}
		
		
		/*** FOOTER NAV BAR ***/
	
		.footer {
			width: 100%;
			height: 40px;
			border-top-width: 1px;
			border-top-style: solid;
			border-top-color: black;
			
			/*
			z-index: 2;
			position: absolute;
			bottom: 0px;
			margin-top: -30px;
			*/
			/*
			CSS has to be tricked into displaying the footer on the bottom of the page.
			Use margin-top: -heightoffooter;
			*/
			
			color: white;
			background-color: black;
			text-align: center;
			font-size: 75%;
			
			}		
			.footer ul li
				{
				display: inline-block;
				
				}
			
			.footer ul li:hover
				{
				color: black;
				background-color: white;
				
				}
		
		
		
		
		
 /* END PRIMARY PAGE ELEMENTS */

	/* IDK WHAT THIS IS:
        #pageContent {
            z-index: 2;
            width: 450px;
            height: 300px;
            background-color: red;
            position: absolute;
            display: none;
            margin-left: auto;
            margin-right: auto;
            margin-top: 15%;
            
        }
        #tips {
            z-index: 3;
            background-color: blue;
            color: white;
            
        }
        * */
        /*styling not finished due to buggy browsers ect ect, need to build it on waanoo.com
          before I finish them off - all sorts of problems with centering in IE and safari EG:
         marign-left: auto, margin-right:auto does not work*/

