/* ID's for my events pop-up window */

#myEventsWrapper
{
	z-index: 100;
	position: fixed;
	top: 50px;
	height: 80%;
	width: 80%;
	margin-left: 10%;
	background-color: whitesmoke;
<<<<<<< HEAD
	border-style: groove;
	border-width:thick;
	border-color: black;
=======
	overflow: auto;
>>>>>>> 2cb28674057227bd62a788fce4c232e3d1f89548
}




	
	
